body {
  background-color: rgb(53, 51, 51);
  color: rgb(243, 229, 202);
  color: rgb(221, 161, 39);
  margin: 0;
}

.grid-container,
.fav-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.2vw;
  row-gap: 1.2vw;
  margin: 2vw;
  position: relative;
}

@media (min-width: 400px) {
  .grid-container,
  .fav-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 650px) {
  .grid-container,
  .fav-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .modal-item {
    width: 30vw;
  }
}

@media (min-width: 992px) {
  .grid-container,
  .fav-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .modal-item {
    width: 30vw;
  }
}

/* @media (min-width: 1200px) {
  .grid-container,
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .modal-item {
    width: 30vw;
  }
} */

header,
footer {
  text-align: center;
  background-color: rgb(32, 31, 31);
  padding: 10px;
}

.grid-item {
  color: rgb(212, 143, 14);
  background-color: #292727;
  padding: 15px;
  /* border-radius: 20px; */
}

.fav-item {
  padding: 0.8vw;
  /* filter: drop-shadow(3px 2px 4px #111111); */
  /* border: 0.4vw solid ; */
}

img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  /* filter: drop-shadow(3px 2px 4px #5e5e5f); */
  filter: drop-shadow(3px 2px 4px #111111);
}

button {
  background-color: rgba(97, 95, 94, 0.911);
  color: rgb(233, 187, 59);
}

dialog {
  background-color: rgb(32, 31, 31);
  color: rgb(243, 229, 202);
  color: rgb(221, 161, 39);
}

input {
  background-color: #5e5e5f;
}
::placeholder {
  color: rgb(243, 221, 192);
}

#catalogue,
#favArtistHeader,
.sortFilter {
  position: relative;
  left: 2vw;
}
